.imageContainer {
    position: relative; 
    display: inline-block;
    width: 12vw; 
    overflow: hidden;
    border-radius: 10px;
}

.image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.icons {
    display: flex;
    position: absolute;
    margin: 1%;
    margin-left: 1.6%;
    align-items: center;
    justify-content: space-between;
    opacity: 50%;
    z-index: 10;
    width: 12%;
}

.save {
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 1.6vw;
}

.heart{
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 1.45vw;
}

.downloadBtn {
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 80%;  
}

.heart:hover, .save:hover, .downloadBtn:hover {
    transform: scale(1.1);
}

.bottomBar {
    width: 100%;
    /* height: 36px; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBar2{
    display: none;
}

/* .userInfo {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
} */

.username {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    font-size: 0.85vw; 
    color: #808080;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .icons {
        gap: 4vw;  /* Adjust the gap for smaller screens */
    }
    .heart, .save {
        width: 8 vw; /* Adjust the icon size for smaller screens */
    }
}

@media (max-width: 425px)
{
    .imageContainer{
        position: relative;
        width: 100%;
        width: 43.5vw;
        height: auto;
    }

    .imgCard{
        width: 48%;
        margin-bottom: 0.5%;
    }

    .image{
        width: 100%;
        height: auto;
    }

    .icons{
        width: 42%;
        margin-left: 2.5%;
        margin-top: 2%;
    }

    .save{
        width: 5vw;
    }

    .heart{
        width: 4.5vw;
    }

    .username{
        font-size: 2.75vw;
        margin-bottom: 1%;
    }

    .bottomBar{
        display: none;
    }

    .bottomBar2{
        display: block;
        position: absolute;
        width: 46%;
        bottom: 1.75%;
        right: 8%;
    }

    .downloadBtn{
        /* position: absolute; */
        width: 21vw;
    }
}
