.imageContainer {
    position: relative; 
    display: inline-block;
    width: 12vw; 
    overflow: hidden;
    border-radius: 10px;
}

.image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.icons {
    display: flex;
    position: absolute;
    margin: 1%;
    margin-left: 1.6%;
    align-items: center;
    justify-content: space-between;
    opacity: 50%;
    z-index: 10;
    width: 12%;
}

.save {
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 1.6vw;
}

.heart{
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 1.45vw;
}

.downloadBtn {
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 80%;  
}

.heart:hover, .save:hover, .downloadBtn:hover {
    transform: scale(1.1);
}

.bottomBar {
    width: 100%;
    /* height: 36px; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .userInfo {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
} */

.username {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    font-size: 0.85vw; 
    color: #808080;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .icons {
        gap: 4vw;  /* Adjust the gap for smaller screens */
    }
    .heart, .save {
        width: 8 vw; /* Adjust the icon size for smaller screens */
    }
}
