.sidebar {
    position: fixed;
    top: 3.9em;
    height: 100vh; /* Ensure sidebar takes full height */
    width: clamp(15%, 13vw, 20%); /* Adjust width dynamically */
    min-height: 100vh;
    padding-left: 2.6%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.2em;
    transition: width 0.3s ease-in-out; /* Smooth resizing */
    justify-content: space-between; /* Distributes items properly */
    padding-bottom: 1rem; /* Small gap at the bottom */
}


.mainContainer {
    border-radius: 3.7px;
    width: 88%;
    background: linear-gradient(180deg, rgba(230, 225, 253, 0.39) 0%, rgba(253, 215, 222, 0.39) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
}


.listContainer {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.verticalList li {
    margin: 1em 0;
}

.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.19);
    font-family: Comfortaa, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    cursor: default;
}

.listItem {
    cursor: pointer;
    padding: 20px 13px 20px 13px;
    position: relative;
    border-radius: 12.41px;
    transition: transform 0.3s;
    color: #000;
    font-weight: bold;
    z-index: 1;
}

.listItem img{
    width: 1.05em;
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent overflow */
}

.listItem:nth-child(3) img {
    /* since Desktop.svg appears smaller, scale its size to match Mobile & Tablet */
    width: 1.18em !important; 
}

.listItem::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12.41px;
    padding: 3.7px;
    background: linear-gradient(180deg,
            rgba(0, 143, 255, 0.5) 0%,
            rgba(255, 157, 0, 0.5) 34%,
            rgba(217, 0, 0, 0.5) 71.5%,
            rgba(151, 0, 136, 0.5) 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 15px rgba(186, 200, 255, 0.3), 0 6px 20px rgba(255, 202, 253, 0.2);
}

.listItem:hover {
    transform: scale(1.05);
}

.listItem.active::before {
    opacity: 1;
}

.listItem.active {
    transform: scale(1.1);
}

small {
    font-size: 0.7em;
}

#copyright {
    font-family: 'Comfortaa', sans-serif;
    font-size: 19.3px;
    font-weight: 400;
    line-height: 21.52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #BFBFBF;
}

#copyright small {
    font-family: 'Comfortaa', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.15px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media (max-width: 1250px) {
    .sidebar{
        width: 16vw;
        /* padding-left: 2.5em; */
    }

    .mainContainer{
        max-height: 80vh;
    }
    .verticalList li {
        margin: 0.2em 0;
    }

    .listItem img{
        width: 1em;
    }

    .copyright{
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 17vw; 
        padding-left: 2%;
    }
    .listItem img {
        width: 1.2em;
    }
}

@media (max-width: 425px) {
    .sidebar {
        z-index: 1001;
        width: 100vw;
        min-height: 0;
        top: 419px;
        left: 0;
        padding: 5px 5vw;
        padding-bottom: 16px;
        flex-direction: row;
        background: none;
    }
    
    
    .mainContainer {
        position: fixed;
        bottom: 7px;
        border-radius: 3.7px;
        width: 91%;
        min-height: 0px;
        height: 45px;
        border-radius: 10px;
        flex-direction: row;
        justify-content: space-around;
    }
    
    
    .listContainer {
        padding: 2px;
    }
    
    .verticalList {
        flex-direction: row-reverse;
        gap: 19vw;
        width: 100%;
        margin: 0;
        padding: 2px 0px;
    }

    .listItem, .listItem.active, .listItem:hover{
        transform: rotate(90deg);
    }
    
    .listItem.active{
        box-shadow: 1px -1px 2.5px #00000089;
    }

    .listItem{
        padding: 20px 10px;
        border-radius: 7px;
    }

    .listItem::before{
        padding: 2.6px;
        border-radius: 7px;
    }

    .listItem img{
        width: 2.5vw;
    }

    .listItem:nth-child(3) img {
        width: 3vw !important; 
    }

    .hide{
        display: none;
    }
}