.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 91.5%;
    height: fit-content;
    box-sizing: border-box;
}

.navbarWrapper {
    display: flex;
    gap: 0.1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    z-index: 1;
    position: fixed;
    top: 0.8em;
    left: 0;
    z-index: 1000;
    padding-left: 14%;
}

.MainContainer {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    padding: 13px 20px;
    box-sizing: border-box;
    width: 100%;
}

.MainContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,
            rgba(0, 143, 255, 0.8),
            rgba(255, 157, 0, 0.8),
            rgba(217, 0, 0, 0.8),
            rgba(151, 0, 136, 0.8));
    border-radius: 10.053px;
    z-index: -1;
    padding: 1px;
    margin: -1px;
}

.navItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    gap: 5em;
}

.menuItem {
    cursor: pointer;
    transition: color 0.3s;
}

.menuLink {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    font-family: Comfortaa;
    position: relative;
}

.menuLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    /* Fixed width for the underline */
    height: 3px;
    /* Height of the underline */
    background-color: transparent;
    /* Initially transparent */
    transition: background-color 0.3s;
}

.menuLink.active::after {
    border-radius: 10em;
    background-color: black;
    /* Underline appears when active */
}

.searchContainer {
    padding: 4px 2px;
    width: 40%;
    display: flex;
    align-items: center;
    opacity: 0.9;
    border: 1px solid #808080;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.searchInput {
    width: 96%;
    padding: 5px;
    border: none;
    background: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.1em;
    font-style: normal;
}

.searchInput:focus {
    outline: none;
    border: none;
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 1.3%;
}

.profileContainer {
    padding-left: 1%;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.profileButton {
    background: none;
    border: none;
    cursor: pointer;
}

.logoContainer {
    position: absolute; /* Fix logo at a position */
    margin-right: 1.2em;
    top: 2em; /* Align it with the top of the NavBar */
    left: 2.5em; /* Add slight spacing from the left edge */
    width: 14%; 
    height: auto;
    z-index: 1001; /* Ensure it is above the menu */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 0;
    width: 75%;
    margin-right: 12%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
    transform: scale(1.15);
}


/* @media (max-width: 1211px) {
    .menu {
        font-size: 0.6em;
        gap: 3em;
    }

    .searchContainer {
        width: 500px;
    }

    .logo{
        width: 85%;
        margin-right: 0.5%;
    }

    .searchContainer{
        width: 39%;
    }
}

@media (max-width: 992px) {
    .searchContainer {
        width: 400px;
    }

    .navbarWrapper {
        padding-left: 10%;
    }

    .logoContainer {
        left: 2em;
    }
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menuItem {
        margin: 10px 0;
    }

    .searchContainer {
        width: 100%;
    }

    .MainContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarWrapper {
        padding-left: 10%;
    }

    .logoContainer {
        left: 1em;
    }
}

@media (max-width: 576px) {
    .menu {
        font-size: 1em;
    }

    .searchContainer {
        width: 100%;
        padding: 8px;
    }

    .searchInput {
        padding: 8px;
    }

    .logoContainer {
        top: 2.5em;
        left: 1em;
    }
} */

@media (max-width: 425px) {
    .MainContainer{
        padding: 0.2em 0;
        gap: 0%;
    }

    .MainContainer::before{
        border-radius: 4.5px;
        margin: -1px;
        padding: 1px;
    }

    .navbar{
        height: fit-content;
        width: 87%;
        border-radius: 4.5px;
        margin-top: 0.7%;
    }

    .navbarWrapper{
        padding: 0;
        padding-left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 60%;
        margin-right: 0%;
        content: url('/LogoSmall.png');
    }

    .logoContainer{
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1%;
    }

    .logoLink{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navItems{
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: left;
    }

    .menu{
        display: flex;
        font-size: 1.6vw;
        gap: 2em;
        align-items: center;
    }

    .menuLink {
        margin-top: 6px;
        padding-bottom: 8px;
    }

    .menuLink::after {
        bottom: 3.2px;
        left: 50%;
        width: 16px;
        height: 1.25px;
    }
    
    .searchContainer {
        padding: 0;
        width: 35%;
        height: fit-content;
        border-radius: 4.5px;
        justify-content: right;
    }

    .searchInput{
        padding: 0;
        height: fit-content;
    }
    
    .searchButton img{
        width: 2.8vw;
        padding: 1px 1px;
    }

    .searchButton{
        padding: 0 5px;
        height: fit-content;
        display: flex;
    }

    .profileContainer {
        padding-left: 0.5px;
        gap: 0.01rem;
        justify-content: center;
        align-content: center;
    }

    .profileButton{
        justify-content: center;
        align-content: center;
        padding: 0;
        padding-right: 5px;
        padding-left: 2px;
        padding-top: 1vw;
    }
    
    .profileButton img{
        width: 3vw;
        padding: 0;
    }

    .logoContainer {
        margin-right: 0.2em;
        top: 1em;
        left: 0.3em;
        width: 14%; 
    }

    .hide{
        display: none;
    }
}

/* dark theme */
:global(.dark-theme) .navbar {
    background-color: rgb(32, 31, 31);
}

:global(.dark-theme) .menuItem a {
    color: rgba(255, 255, 255, 0.8);
}

:global(.dark-theme) .searchContainer {
    border: 1px solid white;
}

:global(.dark-theme) .searchInput {
    color: white;
}

:global(.dark-theme) .menuLink.active::after {
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

:global(.dark-theme) .MainContainer::before {
    background: linear-gradient(45deg,
    rgba(0, 86, 153, 0.8),     /* Darker blue */
    rgba(204, 102, 0, 0.8),    /* Darker orange */
    rgba(153, 0, 0, 0.8),      /* Darker red */
    rgba(102, 0, 102, 0.8));
}