body {
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5.5%;
    margin-top: 1000;
    overflow: visible;
    min-height: 100vh;
}

.imgCards {
    display: flex;
    justify-content: space-around;
    width: 99.5%;
    margin-bottom: 3%;
    gap: 3%;
}

@media (max-width: 425px)
{
    .imgCards{
        gap: 10px;
        flex-wrap: wrap;
    }
}